<head>
	<title>
	Stop-Frelons.com | {{ .Title }}
	{{ if isset .Params "title2" }}
		| {{ .Params.title2 }}
	{{ end }}
	</title>

	<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="192x192" href="/android-chrome-192x192.png" type="image/png">
	
	{{ if isset .Params "description" }}
		<meta name="description" content="{{ .Params.description }}" />
    {{ else }}
		<meta name="description" content="Spécialiste du traitement des fourmis." />
    {{ end }}
	
	{{ if isset .Params "keywords" }}
		<meta name="keywords" content="{{ .Params.keywords }}" />
    {{ else }}
		<meta name="keywords" content="fourmis, fourmis charpentières, fourmis moissonneuses" />
    {{ end }}
	
	<link rel="stylesheet" href="/css/main.css" />
</head>